@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-y-auto::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar,
.overflow-x::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
.overflow-y::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-y-auto,
.overflow-y-scroll,
.overflow-x-auto,
.overflow-x,
.overflow-x-scroll,
.overflow-y,
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Twitter-like background color */
.bg-twitter {
    background-color: #15202b;
}

/* Twitter-like dim background color */
.bg-dim-700 {
    --bg-opacity: 1;
    background-color: #192734;
}

/* Reset margins for body and html */
html, body {
    margin: 0;
    background-color: #15202b;
}

/* Paint icon fill */
svg.paint-icon {
    fill: currentcolor;
}
